{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
	<header>
		<h2>
			<a href="{{url}}">{{{title}}}</a>
		</h2>
		<section class="meta">
			<p class="date"><time datetime="{{date format='YYYY-MM-DD HH:mm:SS'}}">{{date format="YYYY-MM-DD HH:mm:SS"}}</time></p>
			{{#if tags}}
			<p class="tags">{{tags}}</p>
			{{/if}}
			{{#if author}}
			<p class="author">{{author}}</p>
			{{/if}}
		</section>
	</header>
	<section class="summary">
		{{content words="30"}}
	</section>
	<p><a class="read-more" href="{{url}}">Read more &raquo;</a></p>
</article>
<hr />
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}