{{!< default}}

<main>
	<article class="{{post_class}}">
	{{#post}}
	<header>
		<h1>{{{title}}}</h1>
		<section class="meta">
			<p class="date">
				<time datetime="{{date format='YYYY-MM-DD HH:mm:ss'}}">{{date format="YYYY-MM-DD HH:mm:ss"}}</time>
			</p>
			{{#if tags}}
			<p class="tags">{{tags}}</p>
			{{/if}}
			{{#if author}}
			<p class="author">{{author}}</p>
			{{/if}}
		</section>
	</header>
	<section class="content">
		{{content}}
	</section>
	{{/post}}
	</article>
</main>